   .header
        {
            background-color: lightblue;
            text-align: center;
            padding: 10px;
        }

        .footer
        {
            background-color: rgb(235, 53, 53);
            text-align: center;
            padding: 10px;
            margin-top: 20px;
        }

        .left
        {
            float: left;
            background-color: lightgreen;
        }
        .right
        {
            float: right;
            background-color: lightcoral;
           
        }
        /* gch cghcghcg fghcgh */
        .box
        {
            width: 50%;
            height: 250px;
            padding: 10px;
            box-sizing: border-box;
        }
